<!-- <h1 class="title">Hello World!</h1>

<app-demo></app-demo> -->


<!-- ? <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-baitap4></app-baitap4> -->
<!-- <app-structual-directives></app-structual-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-test-example></app-test-example> -->

<!-- <button class="btn btn-success">Click Me !</button> -->

<!-- <app-button> -->
    <!-- Nội dung nằm trong đây sẽ thay thế cho ng-content trong component button  -->
    <!-- Submit
</app-button>
<br/>
<app-button> -->
    <!-- Nội dung nằm trong đây sẽ thay thế cho ng-content trong component button  -->
    <!-- Click
</app-button> -->
<!-- 
<app-card>
    <p slot="header">Sinh Viên Header</p>
    <div slot="body">
        <h3>Nguyễn Văn A</h3>
        <p>FE54</p>
    </div>
    <button class="btn btn-success" slot="footer">Xem chi tiết -></button>
    

</app-card>

<app-card>
    <p slot="header">Sinh Viên Profile</p>
    <div slot="body">
        <h3>Nguyễn Văn B</h3>
        <p>FE54</p>
    </div>
    <button class="btn btn-primary  " slot="footer">Xem chi tiết -></button>
    

</app-card> -->

<!-- Custom directive  -->
<!-- <div appHighlight>
    Nhúng selector từ module của hightlight directive 
    Highlight
</div> -->
<!-- <app-interaction></app-interaction> -->

<!-- <app-dat-ve-xe></app-dat-ve-xe> -->


<!-- TODO Từ app Routing Module  -->
<router-outlet></router-outlet>